html, body {
  padding: 10px;
}

body {
  background: url('../img/jollybengali_background.jpg');
  font-family: 'Open Sans', verdana, sans-serif;
}

div.yellow-box {
  background-color: rgba(255, 245, 181, 0.6);
  padding: 0.5em;
  /*margin: 0 auto;*/
  border-radius: 15px;
  display: inline-block;
}

div.contact-info a {
  color: #000;
}

div.contact-info a:hover {
  color: #428BCA;
  text-decoration: none;
}

div.contact-info {
  font-size: 2.2em;
}

div.buffer {
  margin: 2em 0;
}

div.menu {
  padding: 1.5em;
}

div.caption {
  text-align: center;
  margin: 1em 0;
}

h1.title {
  margin: 0 0 1em 0;
}

div.main-content {
  font-size: 2.2em;
  font-family: 'Special Elite', 'Open Sans', verdana, sans-serif;
}
h2 {
  margin-top: 0;
}

.row {
  margin-top: 1em;
  margin-bottom: 1em;
}
